body {
  font-family: sans-serif;
}

.outerBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 300px;
  width: 300px;
  margin: auto;
  padding: 15px 0px 0px 15px;
  border: 1px solid black;
}

.innerBox {
  width: 80px;
  height: 80px;
  border: 1px solid black;
}

.fill {
  background-color: green;
}
