body {
  font-family: sans-serif;
}

.form{
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.formField{
  margin: 5px;
  padding: 5px;
}

.error{
  font-size: smaller;
  color: red;
}
