body {
  font-family: sans-serif;
}

.listItems {
  margin: 15px;
  padding: 15px;
}

.listItem {
  margin: 5px;
}

button {
  background-color: aliceblue;
  border: 1px solid aqua;
  margin: 10px;
}
